@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


/* HEADER */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color:rgba(0,0,0,0.69);
  backdrop-filter: blur(10px)
}

header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.navbar .logo img {
  width: 200px; /* Adjust the width of the logo image */
  height: auto; /* Maintain the aspect ratio of the logo */
}

.navbar .logo span {
  color: #C06B3E;
}

.navbar .menu-links {
  display: flex;
  list-style: none;
  gap: 35px;
  margin-top: 1.2%;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  transition: 0.2s ease;
}

.navbar a:hover {
  color: #C06B3E;
}

.hero-section {
  height: 100vh;
  background-image: url("Group\ 1.svg");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.hero-section .content{
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  color: #fff;
}

.hero-section .content h2, .aboutInfoText h2{
  font-size: 3rem;
  max-width: 600px;
  line-height: 70px;
}

.hero-section .content p, .aboutInfoText p{
  font-weight: 300;
  max-width: 600px;
  margin-top: 15px;
}


  
  main {
    background-color:white;
    height: 100%;
    width: auto;
    display: flex;
    margin: 0 20px; /* To look nice on mobile */
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 3vh;
  }
  
  main h1 {
    font-size: 3em;
    font-weight: 100;
    color: #090604;
    margin: 0;
  }
  
  main h2 {
    font-size: 1.5em;
    font-weight: 100;
    margin-bottom: 0;
  }
  
  main h3 {
    font-size: 1.5em;
    font-weight: 100;
    margin-top: 0;
  }
  
  main a {
    font-size: 1.5em;
    font-weight: 300;
    color:black;
    text-decoration: none;
  }
  
  footer {
    position: absolute;
    bottom: 0;
    margin: 10px;
    font-weight: 300;
  }
  

/* Mobile Buttons */

#close-menu-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  display: none;
}

#hamburger-btn {
  color: #fff;
  cursor: pointer;
  display: none;
}

/* MOBILE ONLY */

@media (max-width: 768px) {
  header {
    padding: 10px;
  }

  header.show-mobile-menu::before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
  }

  .navbar .logo {
    font-size: 1.7rem;
  }

    
  #hamburger-btn, #close-menu-btn {
    display: block;
  }

  .navbar .menu-links {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    background: #fff;
    flex-direction: column;
    padding: 70px 40px 0;
    transition: left 0.2s ease;
  }


  header.show-mobile-menu .navbar .menu-links {
    left: 0;
  }

  .navbar a {
    color: #000;
  }

  .hero-section .content,{
    text-align: center;
  }

  .hero-section .content :is(h2, p) {
    max-width: 100%;
  }

  .hero-section .content h2 {
    font-size: 2.3rem;
    line-height: 60px;
  }
  
  .hero-section .content button {
    padding: 9px 18px;
  }
  #clients  {
    padding:auto;
}
}
.section-bg{
  padding-top: 30%;
  background-color: #090604;
  width: 100%;
  height: 100%;
}
.section-header h3 {
    padding-top: 10%;
    font-size: 36px;
    color: #fff;
    text-align: center;
    font-weight: 500;
    position: relative;
}

.section-header p {
    text-align: center;
    margin: auto;
    font-size: 15px;
    padding-bottom: 60px;
    color: #fff;
    width: 50%;
}

#clients {
    padding: 60px 0;
    
}
#clients .clients-wrap {
  border-top: 0;
  border-left: 0;
  margin-bottom: 30px;
  overflow: hidden;
}

#clients .client-logo {
    padding: 64px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-right: ;
    border-bottom: 0;
    overflow: hidden;
    background: #090604;
    height: 160px;
}

#clients img {
    transition: all 0.4s ease-in-out;
}


.btn-primary {
  background: #F85A16;
  color: #fff;
  border: 2px solid #F85A16;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background: #f96c2f !important;
  border-color: #f96c2f !important;
}
.btn-primary.btn-outline {
  background: transparent;
  color: #F85A16;
  border: 1px solid #F85A16;
}
.btn-primary.btn-outline:hover, .btn-primary.btn-outline:focus, .btn-primary.btn-outline:active {
  background: #F85A16;
  color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
}

a,
a:active,
a:focus {
    color: #000; /* Set link color to black */
    text-decoration: none;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

section {
    padding: 60px 0;
}

.btn {
    padding: 14px 25px;
    text-transform: uppercase;
    transition: all 0.8s;
}

.red-btn {
    background: #000; /* Set background color to black */
    border: 2px solid #000; /* Set border color to black */
    color: #fff; /* Set text color to white */
}

.red-btn:hover {
    background: #fff; /* Change background color on hover to white */
    color: #000; /* Change text color on hover to black */
    border-color: #000; /* Change border color on hover to black */
}

/*---------footer---------*/
footer {
    background-color: #000; /* Set background color to black */
    color: #fff; /* Set text color to white */
    padding: 10px 0;
    font-size: 17px;
}

footer h3 {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    padding-left:30px;
}

footer h4 {
    display: inline-block;
    margin-bottom: 2px;
}

.about-footer li {
    padding-top: 20px;
    padding-left: 0rem;
    position: relative;
    margin-bottom: 40px;
}

footer a {  
    color: #fff;
}

footer a:hover {
    color: #f96c2f; /* Change text color on hover to black */
}

.footer-title {
    border-bottom: 2px solid #fff; /* Set border color to white */
    padding-bottom: 25px;
    margin-bottom: 35px;
}

ul.footer-social i {
    background: #fff; /* Set background color to white */
    color: #000; /* Set text color to black */
}

ul.footer-social i:hover {
    background: #000; /* Change background color on hover to black */
    color: #fff; /* Change text color on hover to white */
}

.page-more-info li {
    margin-bottom: 31px;
}

footer .table td:first-child {
    font-weight: 600;
    padding-left: 33px;
}

footer .table td:last-child {
    text-align: right;
}

footer .table td {
    padding: 0px;
    border: 0;
}

footer hr {
    border-color: #fff; /* Set border color to white */
}

.footer-bottom p {
    text-align: right;
}

.footer-bottom {
    margin-top: 30px;
}

.open-hours hr {
    margin: 30px 0;
}

@media (max-width: 768px) {
  .section-bg{
    padding-top: 30%;
    background-color: #090604;
    width: 100%;
    height: 190%;
  }
  .aboutUs{
    box-sizing: border-box;
    padding-top: 10%;
    background-color: #090604;
    width: 100%;
    height: 6000px;
  }
  
}